<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitforcestudio.usermanager.mapper.UserMapper">

    <insert id="createUserTable">
        create table if not exists user(user_id INT UNSIGNED AUTO_INCREMENT NOT NULL,
                        user_name VARCHAR(20) NOT NULL,
                        password CHAR(128) NOT NULL,
                        user_stats TINYINT NOT NULL DEFAULT 1,
                        credential_expired BOOLEAN,
                        is_enabled BOOLEAN,
                        roles TEXT,
                        permissions TEXT,
                        modified_time TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
                        PRIMARY KEY pk_customerid(user_id)
        ) engine=innodb;
    </insert>


    <insert id="createNewUser" parameterType="com.bitforcestudio.usermanager.model.entity.User" useGeneratedKeys="true" keyProperty="userId">
          insert into user(user_name, password, user_stats, roles, permissions) values(#{userName}, #{password}, #{userStats}, #{roles}, #{permissions});
    </insert>


    <delete id="removeUser" parameterType="Integer">
          delete from user where id=#{id};
    </delete>


    <update id="updateUser" parameterType="com.bitforcestudio.usermanager.model.entity.User" useGeneratedKeys="true" keyProperty="userId">
          update user set user_name=#{userName}, password=#{password}, user_stats=#{userStats} where userId=#{userId};
    </update>


    <select id="getUserById" parameterType="Integer" resultMap="UserBaseResultMap">
          select * from user where user_id=#{userId};
    </select>

    <resultMap id="UserBaseResultMap" type="com.bitforcestudio.usermanager.model.entity.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="user_name" property="userName" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="CHAR"/>
        <id column="user_stats" property="userStats" jdbcType="TINYINT"/>
        <id column="credential_expired" property="credentialExpired" jdbcType="BOOLEAN"/>
        <id column="is_enabled" property="isEnabled" jdbcType="BOOLEAN"/>
        <id column="roles" property="roles" jdbcType="VARCHAR"/>
        <id column="permissions" property="permissions" jdbcType="VARCHAR"/>
        <id column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="getUserByUserName" parameterType="String" resultMap="UserBaseResultMap">
          select * from user where user_name=#{userName};
    </select>

</mapper>